analise de dados de vendas da loja zara

In [8]:
import pandas as pd

df = pd.read_csv("./zara_sales_analysis/Zara_Sales_Analysis.csv", sep=";")
df.head(2)

,Product ID,Product Position,Promotion,Product Category,Seasonal,Sales Volume,brand,url,sku,name,description,price,currency,scraped_at,terms,section
0,185102,Aisle,No,Clothing,No,2823,Zara,https://www.zara.com/us/en/basic-puffer-jacket...,272145190-250-2,BASIC PUFFER JACKET,Puffer jacket made of tear-resistant ripstop f...,19.99,USD,2024-02-19T08:50:05.654618,jackets,MAN
1,188771,Aisle,No,Clothing,No,654,Zara,https://www.zara.com/us/en/tuxedo-jacket-p0889...,324052738-800-46,TUXEDO JACKET,Straight fit blazer. Pointed lapel collar and ...,169.00,USD,2024-02-19T08:50:06.590930,jackets,MAN

informações de colunas e tipos de colunas.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product ID        252 non-null    int64
 1   Product Position  252 non-null    object
 2   Promotion         252 non-null    object
 3   Product Category  252 non-null    object
 4   Seasonal          252 non-null    object
 5   Sales Volume      252 non-null    int64
 6   brand             252 non-null    object
 7   url               252 non-null    object
 8   sku               252 non-null    object
 9   name              251 non-null    object
 10  description       250 non-null    object
 11  price             252 non-null    float64
 12  currency          252 non-null    object
 13  scraped_at        252 non-null    object
 14  terms             252 non-null    object
 15  section           252 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 31.6+ KB

contagem de linhas nulas

In [10]:
df.isnull().sum()

Product ID          0
Product Position    0
Promotion           0
Product Category    0
Seasonal            0
Sales Volume        0
brand               0
url                 0
sku                 0
name                1
description         2
price               0
currency            0
scraped_at          0
terms               0
section             0
dtype: int64

porcentagem das linhas vazias, de acordo com esse dado podemos tomar a decisão de excluir ou manter.

In [24]:
def porcentagem_nulos(value):
    return f"{100 * value:.2f}%"
(df.isna().sum() / len(df)).sort_values(ascending=False).apply(porcentagem_nulos)

description         0.79%
name                0.40%
Product ID          0.00%
Product Position    0.00%
Promotion           0.00%
Product Category    0.00%
Seasonal            0.00%
Sales Volume        0.00%
brand               0.00%
url                 0.00%
sku                 0.00%
price               0.00%
currency            0.00%
scraped_at          0.00%
terms               0.00%
section             0.00%
dtype: object